<launch>
  <node pkg="localization" type="particle_filter.py" name="particle_filter" output="screen">
    <rosparam command="load" file="$(find localization)/params.yaml"/>
  </node>
    <node pkg="localization" type="odom_noise.py" name="odom_noise">
    <rosparam command="load" file="$(find localization)/params.yaml"/>
  </node>
</launch>
